body{
    font-family: 'Open Sans Condensed', arial, sans;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td.day{
    font-weight: bold;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2
}
th {
    background-color: #4CAF50;
    color: white;
}